name: scratch
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  equatable: ^2.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/video/
    - assets/images/gallery/
    - assets/images/recipes/
    - assets/images/recipe-category/

  fonts:
    - family: NunitoSans
      fonts:
        - asset: fonts/NunitoSans-Black.ttf
        - asset: fonts/NunitoSans-Regular.ttf
        - asset: fonts/NunitoSans-Bold.ttf
          weight: 600
